<ion-app>
  <ion-content class="greenPage">
    <div clas="container">
      <img class="logo" src="./assets/NC WELCOME.png">
      <img class="grapes" src="./assets/7.png">
  
      <h1>GREEN</h1>
  
      <p>Good food! The food that you're going to consume
         satisfies the criteria for being healthy and contains
          the nutrients that your body needs.</p>
    
  
      <img class="brocs" src="./assets/4.png">
  
      <div class="buttonsbtm"> 
        <ion-button class="exit" routerLink="/second">Exit</ion-button>
        <ion-button class="nutricheck" routerLink="/fourth">NutriCheck</ion-button>
      </div>
    </div>
  </ion-content>
  </ion-app>
