<ion-app>
  <ion-content class="redPage">
    <div clas="container">
      <img class="logo" src="./assets/NC WELCOME.png">
      <img class="grapes" src="./assets/burger.png">
  
      <h1>RED</h1>
  
      <p>Oops! You are going to consume a food that doesn't meet the criteria for being healthy and may present risks that point to inadequate dietary intake and a lack of necessary nutrients.</p>
    
  
      <img class="brocs" src="./assets/6.png">
  
      <div class="buttonsbtm"> 
        <ion-button class="exit" routerLink="/second">Exit</ion-button>
        <ion-button class="nutricheck" routerLink="/fourth">NutriCheck</ion-button>
      </div>
    </div>
  </ion-content>
  </ion-app>
