<ion-app>
<ion-content class="app">
<div class="moch"><img src="./assets/mochi.png"></div>
<div class="logo"><img src="./assets/logoW.png"></div>
<div><p class="welcome">Welcome!</p></div>
<div>
<p class="desc"> It is an application that can help you 
  monitor your food intake or if a particular food 
  that you intend to eat is unhealthy or not just by  
  It is an application that can help you monitor your food 
  intake or if a particular food that you intend to eat is 
  unhealthy or not just by inputting the level/amount of 
  saturated fats, sugar, and sodium that can be seen in its nutrition facts.  
</p>
</div>
<div><p class="instruction"><b>Instructions</b></p></div>
<div>
<p class="instruc">To use the NutriChecker application, 
  there will be a content selection: Fixed or Customize 
  and it will be the standard of nutrition content. After 
  the selection, the user will proceed to nutricheck and input 
  the amount/level of saturated fat, sugar/total carbohydrates, 
  and sodium of the food that they want to know if it is u healthy or not.
   The user have to input “0” if there’s no desired level. 
   After inputing the requirements, it will generate a result.
</p></div>
<img src="./assets/5.png" class="cart">
<div class = "btn1">
  <ion-button style="text-transform:none" (click)="Tpage()">Proceed</ion-button>
</div>

</ion-content>
</ion-app>
