<ion-app>

  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="logo">
        <img src = "./assets/flogo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8" class="btn1" size-xl="2" offset-xl="5">
        <ion-button style="text-transform:none"
          (click)="Nextpage()">Start</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <img class="pic2" src = "./assets/2.png">
  <div class="pic1"><img src = "./assets/pic1.png"></div>
  <img class = "pic3" src = "./assets/1.png">
   
  </ion-app>


